<div class="row">
   <div class="col-md-8">
      <h3 class="pb-3">Products</h3>
      <%= render 'products/partials/product', products: @products %>
   </div>

   <div class="col-md-4">
      <h3 class="pb-3">Cart</h3> 
      <%= render 'layouts/shared/cart', products: @products %>
   </div>
</div>
