<h1>Products</h1>
<% @products.each do |product| %>
  <p>
    <strong>Name:</strong>
    <%= product.name %>
    <strong>Price:</strong>
    <%= product.price %>
    <%= button_to 'Agregar al carrito', add_to_cart_path(product_id: product.id), method: :post, class: 'btn btn-primary' %>
    <%= product.discount.name if product.discount %>
  </p>
<% end %>